<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Twinfield_Webservices_Sample_C_sharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Twinfield_Webservices_Sample_C_sharp.Properties.Settings>
            <setting name="Twinfield_Webservices_Sample_C_sharp_TwinfieldSession_Session"
                serializeAs="String">
                <value>https://login.twinfield.com/webservices/session.asmx</value>
            </setting>
            <setting name="Twinfield_Webservices_Sample_C_sharp_TwinfieldProcessXml_ProcessXml"
                serializeAs="String">
                <value>https://login.twinfield.com/webservices/processxml.asmx</value>
            </setting>
            <setting name="Twinfield_Webservices_Sample_C_sharp_TwinfieldFinder_Finder"
                serializeAs="String">
                <value>https://login.twinfield.com/webservices/finder.asmx</value>
            </setting>
            <setting name="Twinfield_Webservices_Sample_C_sharp_TwinfieldClusterSession_Session"
                serializeAs="String">
                <value>https://accounting.twinfield.com/webservices/session.asmx</value>
            </setting>
        </Twinfield_Webservices_Sample_C_sharp.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
